/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* kanit font */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Background: #ffffff;
  --Dark: #000000;
  --Blue: #1b2cc1;
  --card_hover: rgba(100, 100, 111, 0.2);
  --card_background: white;
  --card_label: black;
  --GlassColor: rgba(118, 141, 184, 0.15);
  --chooseInfoHeadingColor: gray;
  --textColor: #000000;
  --Errormassage: red;
  --links: ;
}
[data-theme="dark"] {
  --GlassColor: rgba(118, 141, 184, 0.15);
  --Background: #1b1b1d;
  --Dark: #ffffff;
  --Blue: #2d3cc2;
  --card_hover: rgb(6, 6, 6, 0.7);
  --card_background: #44444481;
  --card_label: rgb(213, 213, 213);
  --chooseInfoHeadingColor: rgb(104, 103, 103);
  --textColor: #f2f2f2;
  --Errormassage: rgb(255, 108, 108);
}

.Glass_Button_Group .Glass_Button_1 button,
.Glass_Button_2 button {
  width: fit-content;
  font-size: 16px;
  padding: 10px 20px;
}
.two_diff_form_guide li i {
  margin-right: 10px;
}
.two_diff_form_guide li {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 18px;
  color: var(--textColor);
}
.two_diff_form_guide .bottom-space {
  letter-spacing: 0.7px;
  padding-bottom: 20px;
}

/* Request_New_Installation_Guide */

.Request_New_Installation_Guide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.outer-form-div_new {
  display: grid;
  place-items: center;
  width: 70%;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--GlassColor);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.form_heading {
  font-size: 2rem;
  text-align: center;
  color: var(--Dark);
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Kanit", sans-serif;
  background: linear-gradient(
    90deg,
    #2d3cc2,
    #bd25aa,
    #ff3c82,
    #ff7c5d,
    #ffbd4f,
    #f9f871
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form_description {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: var(--textColor);
}
.outer-form-div_new form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 10px 0;
}
.new_form_user_name {
  width: 100%;
}
.margin-10 {
  color: var(--textColor);
  font-weight: 500;
  margin-top: 10px;
}
.new_form_user_name textarea {
  font-size: 9pt;
  border: 3px inset #1d4189;
  padding: 0.5em;
  width: 300px;
}
.field_heading {
  margin: 20px 0 0 0;
  color: var(--textColor);
  font-weight: 500;
  font-size: 16px;
}
.label-margin {
  margin-top: 10px;
}
.new_form_user_name input,
.Email_verification_form input,
.existing_content input {
  width: 100%;
  height: 50px;
  outline: none;
  letter-spacing: 1.5px;
  word-spacing: 1px;
  padding: 5px 20px;
  font-size: 18px;
  background-color: var(--GlassColor);
  border: 1px solid var(--GlassColor);
  border-radius: 5px;
  color: var(--textColor);
  font-weight: 500;
}

.new_form_user_name input::placeholder,
.Email_verification_form input::placeholder {
  font-size: 17px;
  color: var(--textColor);
  opacity: 0.7;
}
.new_form_checkbox_OS {
  display: grid;
  row-gap: 10px;
  /* padding: 10px; */
}
.new_form_checkbox_OS input {
  margin: 10px;
}
.select_OS {
  width: fit-content;
}
.select_OS span{
  color: var(--textColor);
  font-weight: 400;
}
.star-important {
  color: orangered;
  font-size: 20px;
}
.individual_box {
  margin-top: 20px;
}

.Email_verification_form {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}
.Email_verification_form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Email_verification_form button {
  width: 30%;
  border: none;
  background: linear-gradient(90deg, #bd25a9, #ff3c82, #ff7c5d);
  border-radius: none;
  opacity: 0.8;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.Email_verification_form button:hover,
.request_button {
  margin: 30px 0 0 0;
  border: none;
  height: 50px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
  background-color: #28a644;
  color: white;
}
.request_button:hover {
  background-color: #218838;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form_data {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* media Query for different devices */

@media screen and (max-width: 1200px) {
  .outer-form-div_new {
    width: 90%;
  }
}
@media screen and (max-width: 927px) {

  .two_diff_form_guide li ,.form_description {
    font-size: 16px;
  }
   
  .customize_path {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .form_data form {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .outer-form-div_new {
    width: 100%;
    margin: 25px 5px;
    padding: 50px 10px;
  }
}
@media screen and (max-width: 677px) {
  .outer-form-div_new {
    width: 100%;
    margin: 15px 5px;
  }
}

/* pop box for error */
.popup-overlay {
  position: absolute;
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(5px) saturate(150%);
  background-color: var(--GlassColor);
  border-radius: 12px;
  border: 1px solid var(--card_hover);
  animation: popup 0.3s ease;
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.popup-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  align-items: center;
}
.popup-content img {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
}
.close_popup_button {
  width: 100%;
  padding: 5px;
  background: transparent;
  border: none;
}
.close_popup_button:hover {
  text-decoration: underline;
}
/* error massage css  */
.error_message {
  color: var(--Errormassage);
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
}
.error_message::selection {
  background-color: var(--Errormassage);
  color: var(--card_background);
}
