/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --font_roboto: "Roboto", sans-serif;
  --font_Montserrat: "Montserrat", sans-serif;
  --links-color: rgb(80, 80, 222);
  --footerTopBorder: #000;
  --textColor: #000;
}
[data-theme="dark"] {
  --footerTopBorder: #31313175;
  --links-color: rgb(158, 160, 243);
  --textColor: #f2f2f2;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 30px;
  border-top: 1px solid var(--taglineheading);
}
/* TOP  APPLICATION FOOTER DETAILS STYLES */

.footer_top_content {
  text-align: center;
  padding: 5px;
}
.footer_top_content_logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 0 0;
}
.footer_top_content_logo .footer_logo {
  height: 30px;
  width: 30px;
  object-fit: fill;
}
.footer_logo img {
  height: auto;
  max-width: 100%;
}
.footer_top_content_logo h2 {
  font-size: 25px;
  text-transform: capitalize;
  color: var(--text-color);
  font-family: var(--font_Montserrat);
}

.footer_top_content_social_links {
  margin: 5px 10px;
  height: 30px;
}
.footer_top_content_social_links_inner_div a span {
  letter-spacing: 1px;
}
.footer_top_content_social_links a {
  color: var(--links-color);
  text-decoration: none;
  margin: 10px;
  object-fit: fill;
  font-weight: 600;
  font-size: 20px;
}

.footer_top_content_social_links a span {
  color: var(--text-color);
  font-size: 12px;
  transition: all 0.2s ease;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
}
.footer_top_content_social_links a:hover span {
  border-bottom: 1.5px solid var(--links-color);
  color: var(--links-color);
}

.footer_bottom_content {
  display: grid;
  place-content: center;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
}

.footer_links_parts {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.footer_links_parts_heading {
  text-align: left;
  margin-bottom: 10px;
}

.footer_links_parts_heading h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font_roboto);
  letter-spacing: 0.5px;
  color: var(--links-color);
}

.footer_links_parts_multiple_link {
  font-size: 14px;
  line-height: 25px;
}

.footer_links_parts_multiple_link ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer_links_parts_multiple_link ul a {
  letter-spacing: 1px;

  color: var(--text-color);
  font-size: 13px;
  line-height: 1.67;
  transition: all 0.1s;
  word-spacing: 0;

  text-decoration: none;
}
.footer_links_parts_multiple_link ul a li {
  padding-left: 5px;
  transition: padding-left 0.2s ease;
}
.footer_links_parts_multiple_link ul a:hover li {
  color: var(--links-color);
  border-left: 1.5px solid var(--links-color);
  border-radius: 2px;
  padding-left: 10px;
}

@media (max-width: 968px) {
  .footer_links_parts {
    max-width: 100%;
  }
  .main-footer-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 568px) {
  .footer_links_parts_heading {
    text-align: left;
    margin-bottom: 10px;
  }

}

/* copy rights */

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  padding: 0 0 10px 0;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
}
